article{
    border: 1px solid black;
    padding:0.5em;
}

.productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block1{
    background-color:skyblue;
    border:0.1px solid white;
    padding: 2em;

}

.cabecera{
    display: flex;
    justify-content:space-between;
}

.divcabecera{

}